/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';
@import 'mixins';

html {
  height: 100%;
}
body {
  background-image: url('../images/creepyCastle.jpg');
  background-size: cover;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(8, 1fr);
  font-family: $mainFont;
}
.login-container {
  align-items: center;
  background-color: $background;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  grid-area: 4 / 5 / 8 / 8;
  box-shadow: 0px 0px 10px -4px $shadow;
  h2{
    color: #fff;
   }
  label {
    color: #fff;
    align-self: flex-start;
    margin: 5% 0% 0% 10%;
  }
  input {
    @include textInputs();
  }
  .large-btn{
    @include largeBtn();
  }
}
.manager-page {
  display: grid;
  height: 100%;
  grid-area: 1 / 1 / 9 / 12;
  grid-template-columns: repeat(11fr);
  grid-template-rows: repeat(16fr);
  h2 {
    @include allHeaders();
  }
  .card {
    @include cards();
    background-color: $cardBackground;
  }
  #vacancy-img  {
    background-image: url('../images/vacancy.jpg');
    background-repeat: no-repeat;
    background-size: 14vw;
    background-position: (center center);
    object-fit: cover;
  }
  #revenue-img  {
    background-image: url('../images/revenue.jpg');
    background-repeat: no-repeat;
    background-size: 16vw;
    background-position: (center center);
    object-fit: cover;
  }
  #rooms-available-img  {
    background-image: url('../images/theBlackLodge.jpg');
    background-repeat: no-repeat;
    background-size: 14vw;
    background-position: (center center);
    object-fit: cover;
  }
  .medium-image {
    @include mediumImage();
  }
  #vacancy-card{
    grid-area: 2 / 3 / 4 / 10;
  }
  #revenue-card{
    grid-area: 5 / 3 / 7/ 10;
  }
  #available-card{
    grid-area: 8 / 3 / 10 / 10;
  }
  #new-booking-card{
    grid-area: 11 / 3 / 13 / 10;
  }
}
.vacancies-text{
  @include cardData();
}
.revenue-text{
  @include cardData();
}
.availale-text{
  @include cardData();
}
.new-booking-text{
  @include cardData();
}
.medium-image {
  @include mediumImage();
}

.customer-page{
  display: grid;
  height: 100%;
  grid-area: 1 / 1 / 9 / 12;
  grid-template-columns: repeat(11fr);
  grid-template-rows: repeat(16fr);
  h2 {
    @include allHeaders();
  }
  .card {
    @include cards();
    background-color: $cardBackground;
  }

  .medium-image {
    @include mediumImage();
  }
  #past-booking-card{
    grid-area: 2 / 3 / 4 / 10;
  }
  #current-booking-card{
    grid-area: 5 / 3 / 7 / 10;
  }
  #total-spent-card{
    grid-area: 8 / 3 / 10 / 10;
  }
  #new-booking-card{
    grid-area: 11 / 3 / 13 / 10;
  }
}
.vacancies-text{
  @include cardData();
}
.revenue-text{
  @include cardData();
}
.available-text{
  @include cardData();
}
.new-booking-text{
  @include cardData();
}
.medium-image {
  @include mediumImage();
}
.hide {
  display: none;
}
